body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Grid CSS */
  
  #heroGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 800px;
    height: 70vh;
    grid-template-rows: 60% 40%;
    grid-template-columns: 80% 20%;
    grid-template-areas:
    "featuredProduct secondaryProduct"
    "featuredProduct CTA";
  }
  
  #featuredProduct {
    grid-area: featuredProduct;
    background-image: url("https://images.unsplash.com/photo-1650137953679-0fe3b3985aac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=973&q=80");
  }
  
  #secondaryProduct {
    grid-area: secondaryProduct;
    background-image: url("https://images.unsplash.com/photo-1656597256570-ee98218c7175?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  }
  
  #CTA {
    grid-area: CTA;
    background-image: url("https://images.unsplash.com/photo-1647336960683-411efff7f376?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3087&q=80");
    justify-content: space-around;
    cursor: pointer;
  }
  
  #headline {
    background-color: rgba(255,255,255,0.8);
    border-bottom: 5px solid #FF6200;
    position: absolute;
    right: -50px;
    top: 100px;
    padding: 25px;
    max-width: 550px;
    z-index: 100;
  }
  
  .heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  /* Category Grid CSS */
  
  .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
  }
  
  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "bookcases bedroom patio"
    "couches couches patio"
    "desks desks desks"
    ;
  }
  
  #bookcases {
    grid-area: bookcases;
    background-image: url("https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2174&q=80")
  
  }
  #bedroom {
    grid-area: bedroom;
    background-image: url("https://images.unsplash.com/photo-1513807016779-d51c0c026263?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  
  #couches {
    grid-area: couches;
    background-image: url("https://images.unsplash.com/photo-1560843300-ce9370f96b56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  
  #patio {
    grid-area: patio;
    background-image: url("https://images.unsplash.com/photo-1527359443443-84a48aec73d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  
  #desks {
    grid-area: desks;
    background-image: url("https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  }
  
  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  .heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #237b9e;
  }
  
  
  /* Navigation CSS */
  /* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
  
  #navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  #navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }
  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
  }
  .icons img {
    margin: 15px;
    cursor: pointer;
  }
  .highlight {
    color: #1e6875;
    font-weight: 700;
  }
  
  /* Typography CSS */
  
  h2 {
    font-size: 60px;
    margin: 0px 0px;
    color: #1e6875;
  }
  
  h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 0px 0px;
  }
  
  h4 {
    color: white;
    font-weight: 400;
    font-size: 22px;
  }
  
  
  #headline p {
    max-width: 350px;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px;
    color: #636364;
  }
  
  @media only screen and (max-width: 1000px) {
    #navigation {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #headline {
      position: static;
      margin: 20px;
    }
    #heroGrid {
      grid-template-areas:
      "featuredProduct featuredProduct"
      "secondaryProduct CTA";
    }
    #categoryGrid {
      grid-template-rows: 300px 300px 300px 300px 600px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "bookcases"
        "bedroom"
        "patio"
        "couches"
        "desks"
      ;
    }
  }

  .flex_item {
    padding:10px;
    margin: 10px;
    background-color: orange;
    color: white;
  }
  .flex {
    display: flex;
    padding: 10px;
    margin: 10px;
  }
  #column {
    background-color: #E6F5FF;
    flex-direction: column;
  }
  #row {
    background-color: #FFF7DE;
    flex-direction: row;
  }
  
  